        <!-- uploadForm -->
        <div id="uploadForm">

          <form id="upload" enctype="multipart/form-data" method="post">
            <input id="file" type="file" name="file" />
            <input id="submit" type="submit" name="submit" value="Upload" />
          </form>
        </div><!-- /uploadForm -->
        
        <!-- effectOptions -->
        <div id="effectOptions" style="display: none;">
          <select class="selectEffect">
            <option selected="selected">-- Select an effect --</option>

          </select>
          <div id="thumbs" style="display: none;"></div>          
        </div><!-- /effectOptions -->
